      #datePicker{
        width: 1000px;
        height: 450px;
        overflow: hidden;
        position: relative;
        margin: auto;

      }
      body{
        font-family: verdana;
        background-color: black;
        overflow: hidden;
      }
      #datePicker div:nth-child(n+2) {
        vertical-align: middle;
        font-size: 80%;
        line-height: 100px;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        font-weight: bold;
        overflow: hidden;
      }
      #dateShower{
        width: 250px;
        height: 30px;
        border-radius: 5px;
        left: 375px;
        top: 150px;
        position: absolute;
        text-align: center;
        padding-top: 5px;
      }
      #dateShower select{
        height: 25px;
      }
      #tagPrimaryPicker{
        position: absolute;
        text-align: left;
        left: 5px;
        width: 130px;
        overflow: auto;
        height: 425px;
        bottom:55px;
      }
      #tagSecondaryPicker{
        position: absolute;
        width: 130px;
        text-align: right;
        right: 0px;
        height: 425px;
        bottom:55px;
        overflow: auto;
      }
      #tagPrimaryPicker label,#tagSecondaryPicker label{
        font-size: 20px;
        display: block;
        color: white;
        cursor: pointer;
        width:130px;
      }
      #colorPallete{
        position: absolute;
      }
      #colorPallete:hover{
        cursor: pointer;
        width: 25px;
      }
     /* #miniature_timeline{
        border: thin solid #ADD6FF;
        background-color: white;
        height: 20px;
        position: relative;
        margin: auto;
        overflow: hidden;
      }
      #mycanvas{
        position: absolute;
        background-color: black;
      }*/
    