<html>
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="jquery-ui-css.css">
  <style>
  div.ui-datepicker{
 font-size:12px;
}
  </style>
  <script>
    $(function() {
    $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
        $( "#to" ).datepicker( "option", "showAnim", "fadeIn" );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        $( "#from" ).datepicker( "option", "showAnim", "fadeIn" );
      }
    });
  });
  </script>
<body>
<form>
<label>Title</label>
<input type='text' name='contentTitle'><br>
<label>Decription</label>
<textarea name='contentDescp'></textarea><br>
<label for="from">From</label>
<input type="text" id="from" name="fromDate" />
<input type='number' min='0' max='24' name='fromTime'>
<label for="to">to</label>
<input type="text" id="to" name="toDate" />
<input type='number' min='0' max='24' name='toTime'>
<input type='submit' value='submit'>
</form>
</body>
</html>