<!DOCTYPE html>
<html>
  <head>
    <style>
      #datePicker{
        width: 1000px;
        height: 450px;
        overflow: hidden;
        position: absolute;
        left: 180px;
        bottom:0px;
      }
      body{
        font-family: verdana;
        background-color: black;
      }
      #datePicker div:nth-child(n+2) {
        vertical-align: middle;
        font-size: 80%;
        line-height: 100px;
        color: black;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px #0066FF;
        background-color:#ADD6FF;
        border: 1px solid #888;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        font-weight: bold;
        overflow: hidden;
      }
      #dateShower{
        width: 250px;
        height: 30px;
        background-color:#ADD6FF;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px #0066FF;
        left: 375px;
        top: 150px;
        position: absolute;
        text-align: center;
        padding-top: 5px;
      }
      #dateShower select{
        height: 25px;
      }
      #tagPicker{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        text-align: center;
      }
      #tagPicker label{
        font-size: 13px;
        color: white;
        cursor: pointer;
        margin: 0px 5px 0px 5px;
        color: #ADD6FF;
      }
    </style>
  </head>
  <body>
    <div id="tagPicker"><label id="tagfestember">festember</label><label id="tagpragyan">pragyan</label><label id="tagmidfest">midfest</label></div>
    <div id='datePicker'><div id="dateShower"><select id='manualYear'></select> <select id='manualMonth'></select> <select id='manualDay'></select></div><div style="display:none" data-meta="-1"></div>
    </div>
    <script src="js/move.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script>
    var initial_click_posx=0;
    var time_wait=300; //sets time for throttle
    var pressit= _.throttle(function(e){if(e.keyCode==37) move1(1); else if(e.keyCode==39) move1(-1); else if(e.keyCode==8) back(); else if(e.keyCode==13) current_display_block.click();},time_wait);
    var holdclick= _.throttle(function(e){if((e.clientX-initial_click_posx)>=100) move1(-1); else if((e.clientX-initial_click_posx)<=-100) move1(1);},300);
  
    function clickdown(e)
    {
    initial_click_posx=e.clientX;
    document.addEventListener('mousemove',holdclick);
    }
  
    function clickup(e)
    {
    initial_click_posx=0;
    document.removeEventListener('mousemove',holdclick);
    }
    document.addEventListener('keydown',pressit);
/*    document.addEventListener('mousedown',clickdown);
    document.addEventListener('mouseup',clickup);*/
    document.getElementById('manualYear').addEventListener('change',Dropbox_Change);
    document.getElementById('manualMonth').addEventListener('change',Dropbox_Change);
    document.getElementById('manualDay').addEventListener('change',Dropbox_Change);
    //these variable are assigned only after a user clicks that partiuclar year or month or day...only when the user click 2012 ..currentYear=2012
    var currentDay=null,currentMonth=null,currentYear=null;
    var divs;
    //each div is assosiated to this multiplier...multiplier[n] will give the relative properties of the nth div...like 1/n opacity
    var isImploded = false;
    var multiplier=Array();
    var time = '0.5s';
    //init_buffer is the default buffer of all days and months from 2000 to 2013
    var init_buffer=Array();
    var current_display_block;
    //current buffer is the specific days which the backend replies for our queries...
    var current_buffer;
    
   var recieved_reply=[
      {
        "content_start":'2013-11-29 12:41:24',
        "content_end":'2013-12-2 12:41:24',
        "primary_hashtag":"festember"
      },
      {
        "content_start":'2013-3-9 12:41:24',
        "content_end":'2013-3-13 12:41:24' ,
        "primary_hashtag":"festember"
      },
      {
        "content_start":'2013-3-12 12:41:24',
        "content_end":'2013-3-15 12:41:24' ,
        "primary_hashtag":"pragyan"
      },
      {
        "content_start":'2012-3-12 12:41:24',
        "content_end":'2012-3-15 12:41:24' ,
        "primary_hashtag":"midfest"
      },
      {
        "content_start":'2014-3-12 12:41:24',
        "content_end":'2014-3-15 12:41:24' ,
        "primary_hashtag":"pragyan"
      }
    ];
   // Parse_Reply_Backend(recieved_reply);
    set_dateViewer(current_buffer);
    Call_Logic(current_buffer);
    Init();
    //the below function inits the divs with proper multipliers...alter argument can be used to alter the multiplier such that we can change which div is in display by defeault..if alter=0,the middle div is active...so if u want the 2nd on left from middle to be highlighted...give alter = -2
   function Init(alter){
    if(alter==null)
      alter=0;
    divs = document.getElementById('datePicker').getElementsByTagName('div');
    var temp = -1*(divs.length-1)/2;
    temp=Math.ceil(temp);
    for(var i=1;i<divs.length;++i,temp++){
      divs[i].style.left=450+'px';
      divs[i].style.top=320+'px';
      if((temp-alter)<-4||(temp-alter)>4){
         divs[i].style.display='none';
       }

      multiplier[i]=temp-alter;
  }
  move1(0);
  //the below was done for some look issues
  for(var i=2;i<divs.length;++i){
    divs[i].style.display='block';
  }
}
//if user uses dropbox to change the date
function Dropbox_Change(e){
      if(e){
      var changed_variable = this.id=="manualDay"?"day":this.id=="manualMonth"?"month":"year"
      var flag1=false,flag2=false,flag3=false;
      if(current_buffer){
        for(var i=0;i<current_buffer.length;i++){
          if(current_buffer[i][changed_variable]==this.value){
            if(current_buffer[i]["day"]==document.getElementById("manualDay").value)
              flag1=true;
            if(current_buffer[i]["month"]==document.getElementById("manualMonth").value)
              flag2=true;
            if(current_buffer[i]["year"]==document.getElementById("manualYear").value)
              flag3=true;
          }
        }
    }
    else{
      var date = new Date(document.getElementById("manualYear").value,document.getElementById("manualMonth").value-1,document.getElementById("manualDay").value);
      flag1=true;
      if(document.getElementById("manualDay").value&&document.getElementById("manualMonth").value&&document.getElementById("manualYear").value){
        if(date.getMonth()!=document.getElementById("manualMonth").value-1)
          flag1=false;
    }
      flag2 = document.getElementById("manualMonth").value?true:false;
      flag3 = document.getElementById("manualYear").value?true:false;
    }
      if(!flag1)
        document.getElementById('daynull').selected="selected";
      if(!flag2)
        document.getElementById('monthnull').selected="selected";
      if(!flag3)
        document.getElementById('yearnull').selected="selected";
      else{
        if((flag1&&flag2&&flag3)||(flag3&&flag2)){
          currentYear=document.getElementById("manualYear").value;
          currentMonth=document.getElementById("manualMonth").value;
          if(flag1)
            currentDay=document.getElementById("manualDay").value;
          implode();
          Call_Logic(current_buffer);
          Init();
      }
      }
      dropdown_highlighter(document.getElementById('manualYear').value,document.getElementById('manualMonth').value,document.getElementById('manualDay').value);
    }
    }
//highlights the possible options in the dropdown menu
function dropdown_highlighter(query_year,query_month,query_day){
  if(current_buffer){
  $('#dateShower option').css('background-color','white');
  if(!(query_year&&query_month&&query_day)){
    for(var i=0;i<current_buffer.length;i++){
      if((query_year==current_buffer[i]["year"]||query_year=='')&&(query_month==current_buffer[i]["month"]||query_month=='')&&(query_day==current_buffer[i]["day"]||query_day=='')){
        document.getElementById('day'+current_buffer[i]["day"]).style.backgroundColor='#99CCFF';
        document.getElementById('month'+current_buffer[i]["month"]).style.backgroundColor='#99CCFF';
        document.getElementById('year'+current_buffer[i]["year"]).style.backgroundColor='#99CCFF';
      }
    }
  }
}
}
//used to change the date on top of datepicker
function change_dateViewer(){
    var string_day="";
    var string_month="";
    var string_year="";
    if(currentDay)
      string_day=currentDay;
    else if(currentMonth)
      string_day=current_display_block.getAttribute("data-meta");
    else
      string_day="null";
    if(currentMonth)
      string_month=currentMonth;
    else if(currentYear)
      string_month=current_display_block.getAttribute("data-meta");
    else
      string_month="null";
    if(currentYear)
      string_year=currentYear;
    else
      string_year=current_display_block.getAttribute("data-meta");
    if(document.getElementById("day"+string_day))
    document.getElementById("day"+string_day).selected="selected";
    if(document.getElementById("month"+string_month))
    document.getElementById("month"+string_month).selected="selected";
    if(document.getElementById("year"+string_year))
    document.getElementById("year"+string_year).selected="selected";
    if(string_year=='null') string_year='';
    if(string_month=='null') string_month='';
    if(string_day=='null') string_day='';
    dropdown_highlighter(string_year,string_month,string_day);
}
//You dont wanna know what the fuck this shit does!!!!!!!!!!!!!
function ParseDate_dateViewer(buffer){
    var temp1_array=Array();
    var temp2_array=Array();
    var temp3_array=Array();
    var day_buffer=Array(),month_buffer=Array(),year_buffer=Array();  
    for(var l=0;l<buffer.length;l++)
        temp1_array.push(buffer[l]["day"]);
    $.each(temp1_array, function(i, el){
    if($.inArray(el,day_buffer) === -1) day_buffer.push(el);
});
    for(var j=0;j<buffer.length;j++)
        temp2_array.push(buffer[j]["month"]);
    $.each(temp2_array, function(i, el){
    if($.inArray(el,month_buffer) === -1) month_buffer.push(el);
});
    for(var k=0;k<buffer.length;k++)
        temp3_array.push(buffer[k]["year"]);
    $.each(temp3_array, function(i, el){
    if($.inArray(el,year_buffer) === -1) year_buffer.push(el);
});
    var max = day_buffer.length>month_buffer.length?day_buffer.length:month_buffer.length>year_buffer.length?month_buffer.length:year_buffer.length;
    for(var x =0;x<max;x++){
      for(var y=0;y<max;y++){
        var temp;
        if(x<day_buffer.length&&y<day_buffer.length&&day_buffer[y]>day_buffer[y+1]){
          temp=day_buffer[y];
          day_buffer[y]=day_buffer[y+1];
          day_buffer[y+1]=temp;
        }
        if(x<month_buffer.length&&y<month_buffer.length&&month_buffer[y]>month_buffer[y+1]){
          temp=month_buffer[y];
          month_buffer[y]=month_buffer[y+1];
          month_buffer[y+1]=temp;
        }
        if(x<year_buffer.length&&y<year_buffer.length&&year_buffer[y]>year_buffer[y+1]){
          temp=year_buffer[y];
          year_buffer[y]=year_buffer[y+1];
          year_buffer[y+1]=temp;
        }
      }
    }
    return [day_buffer,month_buffer,year_buffer];
}
//sets the options for the dateViewer
function set_dateViewer(buffer){
  var day_buffer=Array(),month_buffer=Array(),year_buffer=Array();
    if(buffer==null){
      if(!currentMonth)
        month_buffer.push(null);
      if(!currentDay)
        day_buffer.push(null);
      for(var i=1;i<=31;i++)
        day_buffer.push(i);
      for(var j=1;j<13;j++)
        month_buffer.push(j)
      for(var k=2000;k<2014;k++)
        year_buffer.push(k);
    }
    else{
      var temp_array = ParseDate_dateViewer(buffer);
      day_buffer=temp_array[0],month_buffer=temp_array[1],year_buffer=temp_array[2];
    }
    for(var i=0;i<day_buffer.length;i++){
      var day = document.createElement('option');
      day.innerHTML = day_buffer[i];
      day.id="day"+day_buffer[i];
      document.getElementById('manualDay').appendChild(day);
    }
    for(var j=0;j<month_buffer.length;j++){
      var month = document.createElement('option');
      month.innerHTML=month_buffer[j];
      month.id="month"+month_buffer[j];
      document.getElementById('manualMonth').appendChild(month);
    }
    for(var k=0;k<year_buffer.length;k++){
      var year = document.createElement('option');
      year.innerHTML=year_buffer[k];
      year.id="year"+year_buffer[k];
      document.getElementById('manualYear').appendChild(year);
    }
}
//move function is used to move or position the divs....we move the divs around by changing their corresponding values in the multiplier...therefore the addition argument...if argument=0 there is no change in position of blocks...if it is =1 then the whole thing displces by 1...the -1 for the other side...it can 2,3,4... 
    function move1(addition){
        //below condition so that it doesnt move when it reaches the end
        if((multiplier[2]==0&&addition==1)||(multiplier[divs.length-1]==0&&addition==-1))
          return;
        for(var i=1;i<divs.length;++i){
          multiplier[i]=multiplier[i]+addition;
          //we are changing the properties of the divs according to their value in the multiplier ml-marginleft mt-margin-top
        var ml = multiplier[i]*130;
        var mt = Math.abs(multiplier[i])*-1*90;
        var angle  = -1*multiplier[i]*20;
        var width = Math.abs(multiplier[i])*-1*20 +100;
        var opacity =1;
        for(var j=Math.abs(multiplier[i]);j!=0;--j)
          opacity/=2;
        if(multiplier[i]>0)
          ml=ml+Math.abs(multiplier[i])*20;
        if(opacity==1)
          current_display_block=divs[i];
        //one thing about move is that u have to feed relative values....relative to the initial position of the div...that is if u want to move a div from 420 to 450..just give .y(30)
        var k=0;
        if(Math.abs(multiplier[i])>3)
          opacity=0;
          move(divs[i])
              .duration(time)
              .x(ml)
              .y(mt)
              .set('opacity',opacity)
              .skew(0,angle)
              .set('width',width)
              .set('height',100)
          .end();
      
    }
    change_dateViewer();
    highlight_tags();
  }
//implode is used to converge all the divs and destroy all the divs...use it during the transition from one layer to another
  function implode(){
    for(var i=1;i<divs.length;++i){
      move(divs[i])
              .duration(time)
              .x(0)
              .y(0)
              .set('opacity',0)
              .skew(0,0)
              .set('width',100)
            .end()}
            var datePicker = document.getElementById('datePicker');
            while(datePicker.firstChild.nextSibling.nextSibling)
              datePicker.removeChild(datePicker.firstChild.nextSibling.nextSibling);
      return;
  }
  //new divs for the new layer is created by this function....buffer are used for default or custom divs
  function Call_Logic(buffer){
    if(buffer==null){
      create_default_init_buffer();
      buffer=init_buffer;
    }
    else{
      //everything inside this is working fine...dont touch it...if something is wrong with it..ask me!
      var temp2=Array();
      for(var i=0;i<buffer.length-1;++i){
        var temp="continue";
        if(!currentYear&&buffer[i]["year"]!=buffer[i+1]["year"])
          temp="year";
        else if(currentYear&&!currentMonth&&buffer[i]["year"]==currentYear&&(buffer[i]["year"]!=buffer[i+1]["year"]||buffer[i]["month"]!=buffer[i+1]["month"]))
          temp="month";
        else if(currentMonth&&!currentDay&&buffer[i]["year"]==currentYear&&buffer[i]["month"]==currentMonth&&(buffer[i]["year"]!=buffer[i+1]["year"]||buffer[i]["month"]!=buffer[i+1]["month"]||buffer[i]["day"]!=buffer[i+1]["day"]))
          temp="day";
        if(temp=="continue")
            continue;
          temp2.push(buffer[i][temp]);
    }
      buffer=temp2;
    }
    //animation call
    createDivs(buffer);
}
  function createDivs(buffer){
    var datePicker = document.getElementById('datePicker');
    var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    for(var i=0;i<buffer.length;i++){
      var Div = document.createElement('div');
      var temp=document.createAttribute('data-meta');
      temp.value=buffer[i];
      Div.setAttributeNode(temp);
      var label = document.createElement('label');
      if(!currentYear||currentMonth)
      label.innerHTML=buffer[i];
      else
      label.innerHTML=months[buffer[i]-1];
      Div.appendChild(label);
      datePicker.appendChild(Div);
      Div.onclick = function(){
         this.style.zIndex=100;
         implode();
        if(!currentYear){
          currentYear=this.getAttribute('data-meta');
          Call_Logic(current_buffer);
        }
        else if(!currentMonth){
          currentMonth=this.getAttribute('data-meta');
          Call_Logic(current_buffer);
        }
        else{
          currentDay=this.getAttribute('data-meta');
        }
        Init();
      }
    }
  }
  var position_buffer;
  //back is used to go back one layer
  function back(){
  position_buffer = currentDay?currentDay:currentMonth?currentMonth:currentYear?currentYear:null; 
    if(currentDay)
          currentDay=null;      
    else{
      if(currentMonth)
          currentMonth=null;      
      else{
        if(currentYear)
          currentYear=null;            
        else{
          return;
        }
      }
    }
    implode();
    Call_Logic(current_buffer);
    if(position_buffer){
        var alter=0;
        var temp = -1*(divs.length+1)/2;
        temp=Math.ceil(temp);
        temp=Math.abs(temp);
        current_block_temp=divs[temp];
        while(1&&current_block_temp){
        if(parseInt(position_buffer)>parseInt(current_block_temp.getAttribute('data-meta'))){
          current_block_temp=current_block_temp.nextSibling;
          alter++;
        }
        else if(parseInt(position_buffer)<parseInt(current_block_temp.getAttribute('data-meta'))){
          current_block_temp=current_block_temp.previousSibling;
          alter--;
        }
        else
          break;
      }
      if(!current_block_temp)
        alter=0;
    }
    Init(alter);
  }
  //this is used to create the init_buffer with proper values like leap year and 31,30 shits
  function create_default_init_buffer(specific){
    init_buffer=Array();
    if((!currentYear&&specific==null)||specific=="year"){
      for(var i=2000;i<=2013;i++)
        init_buffer.push(i);
    }
    else if((!currentMonth&&specific==null)||specific=="month"){
      for(var i=1;i<=12;++i)
        init_buffer.push(i);
    }
    else if(!currentDay){
      var temp=[0,31,28,31,30,31,30,31,31,30,31,30,31];
      for (var i = 1; i <=temp[currentMonth]; i++) 
        init_buffer.push(i);
      if(currentYear%4==0&&currentMonth==2)
        init_buffer.push(29);
    }
  }
  
  function Parse_Reply_Backend(recieved_reply){
      current_buffer=[];
      var temp=0;
      for(var i=0;i<recieved_reply.length;++i){
        var t = recieved_reply[i]["content_start"].split(/[- :]/);
        var start = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
        var t = recieved_reply[i]["content_end"].split(/[- :]/);
        var end = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
        while(start.getFullYear()!=end.getFullYear()||start.getMonth()!=end.getMonth()||start.getDate()!=(end.getDate()+1)){
            current_buffer[temp]={};
            current_buffer[temp]["year"]=start.getFullYear();
            current_buffer[temp]["month"]=start.getMonth()+1;
            current_buffer[temp]["day"]=start.getDate();
            current_buffer[temp]["id"]=i;
            temp++;
        start.setDate(start.getDate()+1);
      }
      }
      for(var i=0;i<temp;++i){
        for(var j=0;j<temp-1;++j){
          var date1 = new Date(current_buffer[j]["year"],current_buffer[j]["month"],current_buffer[j]["day"]);
          var date2 = new Date(current_buffer[j+1]["year"],current_buffer[j+1]["month"],current_buffer[j+1]["day"]);
          var temp3={};
          if(date1>date2){
            temp3 = current_buffer[j];
            current_buffer[j]=current_buffer[j+1];
            current_buffer[j+1]=temp3;
          }
        }
      }
      current_buffer[temp]={};
      current_buffer[temp]["year"]=current_buffer[temp]["month"]=current_buffer[temp]["day"]=null;
    
  }  
  //highlights the tags inside a particular date pattern....
  function highlight_tags(){
    var bool = false;
    if(!current_buffer){
      bool=true;
      Parse_Reply_Backend(recieved_reply);
    }
    $("#tagPicker label").css("font-size","13px");
    $("#tagPicker label").css("text-shadow","0 0 0.0em #87F");
    $("#tagPicker label").css("opacity","1");
    if(currentYear){
      if(currentMonth){
        for(var i=0;i<current_buffer.length;i++){
          if(currentMonth==current_buffer[i]["month"]&&currentYear==current_buffer[i]["year"]&&current_display_block.getAttribute("data-meta")==current_buffer[i]["day"]){
            document.getElementById("tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).style.fontSize="16px";
            $("#tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).css("text-shadow","0 0 0.4em #87F");
          }
          else{
           if(currentMonth==current_buffer[i]["month"]&&currentYear==current_buffer[i]["year"]&&currentDay==current_buffer[i]["day"]){
            document.getElementById("tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).style.fontSize="16px";
            $("#tagPicker label").css("opacity","0.5");
            $("#tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).css("text-shadow","0 0 0.4em #87F"); 
            $("#tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).css("opacity","1"); 
          }
        }
        }
      }
      else{
        for(var i=0;i<current_buffer.length;i++){
          if(currentYear==current_buffer[i]["year"]&&current_display_block.getAttribute("data-meta")==current_buffer[i]["month"]){
            document.getElementById("tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).style.fontSize="16px";
            $("#tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).css("text-shadow","0 0 0.4em #87F");
          }
        }
      }
    }
    else{
      for(var i=0;i<current_buffer.length;i++){
          if(current_display_block.getAttribute("data-meta")==current_buffer[i]["year"]){
            document.getElementById("tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).style.fontSize="16px";
            $("#tag"+recieved_reply[current_buffer[i]["id"]]["primary_hashtag"]).css("text-shadow","0 0 0.4em #87F");
          }
        }
    }
    if(bool)
      current_buffer=null;
  }
  $("#tagPicker label").click(search_primaryTag);
  //if user clicks the tag,it sends an ajax request and process the reply...
  function search_primaryTag(){
    if(this.style.fontWeight!="bold"){
      this.style.fontWeight="bold";
      this.style.textDecoration="overline";
  }
    else{
      this.style.fontWeight="";
      this.style.textDecoration="";   
    }
    var tags = document.getElementById("tagPicker").getElementsByTagName("label");
    var tags_search = Array();
    for(var i=0;i<tags.length;i++){
      if(tags[i].style.fontWeight=="bold")
        tags_search.push(tags[i].id);
    }
    var temporary_array=[];
     if(tags_search){
        for(var i=0;i<tags_search.length;i++){
          for(var j=i;j<tags_search.length;j++){
            if(tags_search[j]>tags_search[j+1]){
              var temp = tags_search[j];
              tags_search[j]=tags_search[j+1];
              tags_search[j+1]=temp;
            }
          }
        }
        for(var i=0;i<recieved_reply.length;i++){
            var starting = 0;
            var ending =tags_search.length-1;
            while(starting!=ending){
              var middle =Math.ceil((starting+ending)/2);
              if(tags_search[middle]>"tag"+recieved_reply[i]["primary_hashtag"])
                ending=middle-1;
              else if(tags_search[middle]<"tag"+recieved_reply[i]["primary_hashtag"])
                starting=middle+1;
              else
                starting=ending=middle;
            }
            if(tags_search[starting]!="tag"+recieved_reply[i]["primary_hashtag"])
              continue;
            temporary_array.push(recieved_reply[i]);
          }
      }
      currentYear=currentMonth=currentDay=null;
      if(temporary_array.length==0)
        current_buffer=null;
      else
        Parse_Reply_Backend(temporary_array);
    implode();
    Call_Logic(current_buffer);
    Init();
  }
  //Quick tips:
  //if u want to create divs and u have a buffer like the one in the example...first create the divs with the buffer....so Call_Logic(buffer)
  //cool...now u have to Init these divs with Init()...if u want a specific div to be selected by default...set alter accordingly Init(alter)
  //So the divs are up n for running...before going to next layer...make sure u implode the divs
  //And if u make a change without commenting...I WILL FIND YOU AND I WILL IMPLODE YOU!.
  //Happy Hacking!
  $(document).ready(function() {
    var valueToKeep;
    $("#dateShower select").keypress(function (event) {
      if(event.keyCode==37||event.keyCode==39)
        $(this).val(valueToKeep);
    });
    $("#dateShower select").keydown(function (event) {
      if(event.keyCode==37||event.keyCode==39){
    event.preventDefault();
        valueToKeep = $(this).val();
      }
  });         
});
    </script>
  </body>
</html>