<!DOCTYPE html>
<html>
  <head>
    <style>
      #datePicker{
        width: 1000px;
        height: 600px;
        overflow: hidden;
        position: absolute;
        left:200px;
        top:120px;
      }
      body{
        font-family: verdana;
        background-color: #70B8FF;
      }
      #datePicker div:nth-child(n+2) {
        vertical-align: middle;
        line-height: 100px;
        font-size: 75%;
        color: black;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px #0066FF;
        background-color:#ADD6FF;
        border: 1px solid #888;
        width: 100px;
        height: 100px;
        position: absolute;
        text-align: center;
        font-weight: bold;
      }
      #dateShower{
        width: 200px;
        left: 100px;
        top: 50px;
        height: 30px;
        background-color:#ADD6FF;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px #0066FF;
        left: 350px;
        top: 150px;
        position: absolute;
        text-align: center;
        line-height: 30px;
      }
    </style>
  </head>
  <body>
    <center>
    <input type='button' value='left' onclick='move1(1)'>
    <input type='button' value='right' onclick='move1(-1)'>
    <input type='button' value='back' onclick='back()'>
  </center>
    <div id='datePicker'><div id="dateShower"></div><div style="display:none" data-meta="-1"></div>
    </div>
    <script src="js/move.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script>
    var initial_click_posx=0;
    var time_wait=300; //sets time for throttle
    var pressit= _.throttle(function(e){if(e.keyCode==37) move1(1); else if(e.keyCode==39) move1(-1); else if(e.keyCode==8) back(); else if(e.keyCode==13) current_display_block.click();},time_wait);
    var holdclick= _.throttle(function(e){if((e.clientX-initial_click_posx)>=100) move1(-1); else if((e.clientX-initial_click_posx)<=-100) move1(1);},300);
  
    function clickdown(e)
    {
    initial_click_posx=e.clientX;
    document.addEventListener('mousemove',holdclick);
    }
  
    function clickup(e)
    {
    initial_click_posx=0;
    document.removeEventListener('mousemove',holdclick);
    }
    document.addEventListener('keydown',pressit);
    document.addEventListener('mousedown',clickdown);
    document.addEventListener('mouseup',clickup);
    //these variable are assigned only after a user clicks that partiuclar year or month or day...only when the user click 2012 ..currentYear=2012
    var currentDay=null,currentMonth=null,currentYear=null;
    var divs;
    //each div is assosiated to this multiplier...multiplier[n] will give the relative properties of the nth div...like 1/n opacity
    var isImploded = false;
    var multiplier=Array();
    var time = '0.5s';
    //init_buffer is the default buffer of all days and months from 2000 to 2013
    var init_buffer=Array();
    var current_display_block;
    //current buffer is the specific days which the backend replies for our queries...
    var current_buffer;
    
   var recieved_reply=[
      {
        "content_title":null,
        "content_descp":null,
        "content_start":'2013-11-29 12:41:24',
        "content_end":'2013-12-2 12:41:24'
      },
      {
        "content_start":'2013-3-9 12:41:24',
        "content_end":'2013-3-13 12:41:24' 
      },
      {
        "content_start":'2013-3-12 12:41:24',
        "content_end":'2013-3-15 12:41:24' 
      },
      {
        "content_start":'2012-3-12 12:41:24',
        "content_end":'2012-3-15 12:41:24' 
      },
      {
        "content_start":'2014-3-12 12:41:24',
        "content_end":'2014-3-15 12:41:24' 
      }
    ];
    Parse_Reply_Backend(recieved_reply);
    Call_Logic(current_buffer);

    Init();
    //the below function inits the divs with proper multipliers...alter argument can be used to alter the multiplier such that we can change which div is in display by defeault..if alter=0,the middle div is active...so if u want the 2nd on left from middle to be highlighted...give alter = -2
    function Init(alter){
    if(alter==null)
      alter=0;
    divs = document.getElementById('datePicker').getElementsByTagName('div');
    var temp = -1*(divs.length-1)/2;
    temp=Math.ceil(temp);
    for(var i=1;i<divs.length;++i,temp++){
      divs[i].style.left=400+'px';
      divs[i].style.top=320+'px';
      if((temp-alter)<-4||(temp-alter)>4){
         divs[i].style.display='none';
       }

      multiplier[i]=temp-alter;
  }
  move1(0);
  //the below was done for some look issues
  for(var i=2;i<divs.length;++i){
    divs[i].style.display='block';
  }
}
//used to change the date on top of datepicker
function change_dateViewer(){
    var arrayMonth = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var string_date="";
    if(currentDay)
      string_date=currentDay+" - ";
    else if(currentMonth)
      string_date=current_display_block.getAttribute("data-meta")+' - ';
    if(currentMonth)
      string_date+=arrayMonth[currentMonth-1]+" - ";
    else if(currentYear)
      string_date+=arrayMonth[current_display_block.getAttribute("data-meta")-1]+' - ';
    if(currentYear)
      string_date+=currentYear;
    else
      string_date+=current_display_block.getAttribute("data-meta");
    document.getElementById('dateShower').innerHTML=string_date;
}
//move function is used to move or position the divs....we move the divs around by changing their corresponding values in the multiplier...therefore the addition argument...if argument=0 there is no change in position of blocks...if it is =1 then the whole thing displces by 1...the -1 for the other side...it can 2,3,4... 
    function move1(addition){
        //below condition so that it doesnt move when it reaches the end
        if((multiplier[2]==0&&addition==1)||(multiplier[divs.length-1]==0&&addition==-1))
          return;
        for(var i=1;i<divs.length;++i){
          multiplier[i]=multiplier[i]+addition;
          //we are changing the properties of the divs according to their value in the multiplier ml-marginleft mt-margin-top
        var ml = multiplier[i]*130;
        var mt = Math.abs(multiplier[i])*-1*90;
        var angle  = -1*multiplier[i]*20;
        var width = Math.abs(multiplier[i])*-1*20 +100;
        var opacity =1;
        for(var j=Math.abs(multiplier[i]);j!=0;--j)
          opacity/=2;
        if(multiplier[i]>0)
          ml=ml+Math.abs(multiplier[i])*20;
        if(opacity==1)
          current_display_block=divs[i];
        //one thing about move is that u have to feed relative values....relative to the initial position of the div...that is if u want to move a div from 420 to 450..just give .y(30)
        var k=0;
        if(Math.abs(multiplier[i])>3)
          opacity=0;
          move(divs[i])
              .duration(time)
              .x(ml)
              .y(mt)
              .set('opacity',opacity)
              .skew(0,angle)
              .set('width',width)
              .set('height',100)
          .end();
      
    }
    change_dateViewer();
  }
//implode is used to converge all the divs and destroy all the divs...use it during the transition from one layer to another
  function implode(){
    /*for(var i=0;i<divs.length;++i){
      move(divs[i])
              .duration(time)
              .x(0)
              .y(0)
              .set('opacity',0)
              .skew(0,0)
              .set('width',100)
            .end()}*/
            var datePicker = document.getElementById('datePicker');
            while(datePicker.firstChild.nextSibling.nextSibling)
              datePicker.removeChild(datePicker.firstChild.nextSibling.nextSibling);
      return;
  }
  //new divs for the new layer is created by this function....buffer are used for default or custom divs
  function Call_Logic(buffer){
    if(buffer==null){
      create_default_init_buffer();
      buffer=init_buffer;
    }
    else{
      //everything inside this is working fine...dont touch it...if something is wrong with it..ask me!
      var temp2=Array();
      for(var i=0;i<buffer.length-1;++i){
        var temp="continue";
        if(!currentYear&&buffer[i]["year"]!=buffer[i+1]["year"])
          temp="year";
        else if(currentYear&&!currentMonth&&buffer[i]["year"]==currentYear&&(buffer[i]["year"]!=buffer[i+1]["year"]||buffer[i]["month"]!=buffer[i+1]["month"]))
          temp="month";
        else if(currentMonth&&!currentDay&&buffer[i]["year"]==currentYear&&buffer[i]["month"]==currentMonth&&(buffer[i]["year"]!=buffer[i+1]["year"]||buffer[i]["month"]!=buffer[i+1]["month"]||buffer[i]["day"]!=buffer[i+1]["day"]))
          temp="day";
        if(temp=="continue")
            continue;
          temp2.push(buffer[i][temp]);
    }
      buffer=temp2;
    }
    //animation call
    createDivs(buffer);
}
  function createDivs(buffer){
    var datePicker = document.getElementById('datePicker');
    for(var i=0;i<buffer.length;i++){
      var Div = document.createElement('div');
      var temp=document.createAttribute('data-meta');
      temp.value=buffer[i];
      Div.setAttributeNode(temp);
      Div.innerHTML=buffer[i];
      datePicker.appendChild(Div);
      Div.onclick = function(){
         this.style.zIndex=100;
         implode();
        if(!currentYear){
          currentYear=this.getAttribute('data-meta');
          Call_Logic(current_buffer);
        }
        else if(!currentMonth){
          currentMonth=this.getAttribute('data-meta');
          Call_Logic(current_buffer);
        }
        else{
          currentDay=this.getAttribute('data-meta');
        }
        Init();
      }
    }
  }
  var position_buffer;
  //back is used to go back one layer
  function back(){
  position_buffer = currentDay?currentDay:currentMonth?currentMonth:currentYear?currentYear:null; 
    if(currentDay)
          currentDay=null;      
    else{
      if(currentMonth)
          currentMonth=null;      
      else{
        if(currentYear)
          currentYear=null;            
        else{
          return;
        }
      }
    }
    implode();
    Call_Logic(current_buffer);
    if(position_buffer){
        var alter=0;
        var temp = -1*(divs.length+1)/2;
        temp=Math.ceil(temp);
        temp=Math.abs(temp);
        current_block_temp=divs[temp];
        while(1&&current_block_temp){
          console.log(current_block_temp.getAttribute('data-meta'));
        if(parseInt(position_buffer)>parseInt(current_block_temp.getAttribute('data-meta'))){
          current_block_temp=current_block_temp.nextSibling;
          alter++;
        }
        else if(parseInt(position_buffer)<parseInt(current_block_temp.getAttribute('data-meta'))){
          current_block_temp=current_block_temp.previousSibling;
          alter--;
        }
        else
          break;
      }
      if(!current_block_temp)
        alter=0;
    }
    Init(alter);
  }
  //this is used to create the init_buffer with proper values like leap year and 31,30 shits
  function create_default_init_buffer(){
    init_buffer=Array();
    if(!currentYear){
      for(var i=2000;i<=2013;i++)
        init_buffer.push(i);
    }
    else if(!currentMonth){
      for(var i=1;i<=12;++i)
        init_buffer.push(i);
    }
    else{
      var temp=[0,31,28,31,30,31,30,31,31,30,31,30,31];
      for (var i = 1; i <=temp[currentMonth]; i++) 
        init_buffer.push(i);
      if(currentYear%4==0&&currentMonth==2)
        init_buffer.push(29);
    }
  }
  
  function Parse_Reply_Backend(recieved_reply){
      current_buffer=[];
      var temp=0;
      for(var i=0;i<recieved_reply.length;++i){
        var temporary_array=[];
        var t = recieved_reply[i]["content_start"].split(/[- :]/);
        var start = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
        var t = recieved_reply[i]["content_end"].split(/[- :]/);
        var end = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);
        while(start.getFullYear()!=end.getFullYear()||start.getMonth()!=end.getMonth()||start.getDate()!=(end.getDate()+1)){
        current_buffer[temp]={};
        current_buffer[temp]["year"]=start.getFullYear();
        current_buffer[temp]["month"]=start.getMonth()+1;
        current_buffer[temp]["day"]=start.getDate();
        temp++;
        start.setDate(start.getDate()+1);
      }
      }
      for(var i=0;i<temp;++i){
        for(var j=0;j<temp-1;++j){
          var date1 = new Date(current_buffer[j]["year"],current_buffer[j]["month"],current_buffer[j]["day"]);
          var date2 = new Date(current_buffer[j+1]["year"],current_buffer[j+1]["month"],current_buffer[j+1]["day"]);
          var temp3={};
          if(date1>date2){
            temp3 = current_buffer[j];
            current_buffer[j]=current_buffer[j+1];
            current_buffer[j+1]=temp3;
          }
        }
      }
      current_buffer[temp]={};
      current_buffer[temp]["year"]=current_buffer[temp]["month"]=current_buffer[temp]["day"]=null;
      
  }  
  //Quick tips:
  //if u want to create divs and u have a buffer like the one in the example...first create the divs with the buffer....so Call_Logic(buffer)
  //cool...now u have to Init these divs with Init()...if u want a specific div to be selected by default...set alter accordingly Init(alter)
  //So the divs are up n for running...before going to next layer...make sure u implode the divs
  //And if u make a change without commenting...I WILL FIND YOU AND I WILL IMPLODE YOU!.
  //Happy Hacking!
    </script>
  </body>
</html>